@import url("./reset.css");
* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
}

@font-face {
  font-family: 'monserat_light';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Montserrat-Light.ttf");
}

@font-face {
  font-family: 'monserat_ultra_light';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/montserrat-ultralight.otf");
}

@font-face {
  font-family: 'monserat_regular';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/montserrat_regular.ttf");
}

@font-face {
  font-family: 'raleway_extrabold';
  font-style: bold;
  font-weight: normal;
  src: url("../fonts/raleway-extrabold.ttf");
}

@font-face {
  font-family: 'raleway_medium';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/raleway-medium.ttf");
}

@font-face {
  font-family: 'raleway_semibold';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/raleway-semibold.ttf");
}

@font-face {
  font-family: 'raleway_bold';
  font-style: bold;
  font-weight: normal;
  src: url("../fonts/raleway_bold.ttf");
}

@font-face {
  font-family: 'raleway_regular';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/raleway_regular.ttf");
}

@font-face {
  font-family: 'roboto_regular';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/roboto-regular.ttf");
}

.container {
  max-width: 1171px;
  width: 100%;
  margin: 0 auto;
}

.header {
  height: 1024px;
  background-image: url("../media/background1.jpg");
  background-size: cover;
}

.logo {
  float: left;
  margin-right: 219px;
  margin-left: -2px;
  margin-top: 42px;
}

.header a {
  text-decoration: none;
  color: #fff;
}

.header a:hover {
  color: #baa790;
}

.header nav li {
  list-style: none;
  display: inline-block;
  padding-right: 24px;
}

.header ul {
  font-family: "monserat_light";
  font-size: 14px;
  padding-top: 58px;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider {
  height: 925px;
  width: 100%;
  overflow: hidden;
}

.slider_p {
  font-family: "raleway_medium";
  font-size: 36px;
  width: 100%;
  padding-top: 272px;
  text-align: center;
  color: white;
}

.slider_p h2 {
  font-family: "raleway_extrabold";
  font-size: 52px;
  text-align: center;
  color: white;
  margin-top: 4px;
}

.slider_p p {
  font-family: "monserat_light";
  font-size: 16px;
  text-align: center;
  color: white;
  max-width: 570px;
  overflow-wrap: break-word;
  margin: 0 auto;
  padding-top: 14px;
  line-height: 24px;
}

.slider_p a {
  font-family: "raleway_extrabold";
  font-size: 14px;
  background-color: #998675;
  max-width: 170px;
  height: 50px;
  text-transform: uppercase;
  text-align: center;
  border-radius: 5px;
  border-bottom: 3px solid #736357;
  margin: 0 auto;
  margin-top: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slick-dots {
  position: absolute;
  bottom: 30px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.slick-dots li button:before {
  color: white;
  font-size: 13px;
}

.slick-dots li.slick-active button:before {
  opacity: .3;
  border: 2px solid #c2b2a0;
  border-radius: 50%;
  background: none;
}

.section2 {
  height: 375px;
}

.options {
  display: inline-block;
  padding-bottom: 78px;
}

.opt1:hover,
.opt2:hover,
.opt3:hover,
.opt4:hover {
  cursor: pointer;
}

.opt1 {
  width: 270px;
  margin-left: -2px;
  margin-top: 80px;
}

.opt1 img {
  display: block;
  margin: 0 auto;
}

.opt1 p {
  padding-top: 14px;
  line-height: 23px;
  text-align: center;
  font-family: "monserat_light";
  font-size: 14px;
}

.opt1 h3 {
  text-align: center;
  padding-top: 28px;
  font-family: "raleway_semibold";
  font-size: 22px;
}

.opt2 {
  width: 270px;
  margin-left: 25px;
  margin-top: 80px;
}

.opt2 img {
  display: block;
  margin: 0 auto;
}

.opt2 h3 {
  text-align: center;
  padding-top: 28px;
  font-family: "raleway_semibold";
  font-size: 22px;
}

.opt2 p {
  padding-top: 14px;
  line-height: 23px;
  text-align: center;
  font-family: "monserat_light";
  font-size: 14px;
}

.opt3 {
  width: 270px;
  margin-left: 27px;
  margin-top: 80px;
}

.opt3 img {
  display: block;
  margin: 0 auto;
}

.opt3 h3 {
  text-align: center;
  padding-top: 28px;
  font-family: "raleway_semibold";
  font-size: 22px;
}

.opt3 p {
  padding-top: 14px;
  line-height: 23px;
  text-align: center;
  font-family: "monserat_light";
  font-size: 14px;
}

.opt4 {
  width: 270px;
  margin-left: 29px;
  margin-top: 80px;
}

.opt4 img {
  display: block;
  margin: 0 auto;
}

.opt4 h3 {
  text-align: center;
  padding-top: 28px;
  font-family: "raleway_semibold";
  font-size: 22px;
}

.opt4 p {
  padding-top: 14px;
  line-height: 23px;
  text-align: center;
  font-family: "monserat_light";
  font-size: 14px;
}

.opt1,
.opt2,
.opt3,
.opt4 {
  display: inline-block;
}

.opt1:hover,
.opt2:hover,
.opt3:hover,
.opt4:hover {
  opacity: 0.7;
}

.our-project-btn a {
  font-family: "raleway_extrabold";
  font-size: 14px;
  background-color: #998675;
  max-width: 170px;
  height: 50px;
  text-transform: uppercase;
  text-align: center;
  border-radius: 5px;
  border-bottom: 3px solid #736357;
  margin: 0 auto;
  margin-top: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

hr {
  width: 70px;
  background-color: #f1eee9;
  opacity: 0.8;
  padding-top: 3px;
  border: 0;
  margin: 0 auto;
  margin-top: 24px;
}

.realization {
  height: 651px;
  width: 100%;
  background-color: #fbfaf8;
  padding-top: 48px;
  position: relative;
}

.realization h2 {
  text-align: center;
  padding-top: 28px;
  font-family: "raleway_semibold";
  font-size: 30px;
  width: 770px;
  margin: 0 auto;
}

.realization p {
  margin: 0 auto;
  padding-top: 14px;
  line-height: 23px;
  text-align: center;
  font-family: "monserat_light";
  font-size: 16px;
  width: 770px;
}

.realization img {
  display: block;
  width: 770px;
  margin: 0 auto;
  position: absolute;
}

.realization .img1 {
  top: 299px;
  left: 97px;
}

.realization .img2 {
  top: 217px;
  left: 328px;
  z-index: 1;
}

.realization .img3 {
  top: 299px;
  right: 97px;
}

.wordpress {
  width: 100%;
  height: 150px;
  background: -webkit-gradient(linear, left top, right top, from(#211b19), color-stop(50%, #3a2921), to(#4e3427));
  background: linear-gradient(to right, #211b19 0%, #3a2921 50%, #4e3427 100%);
}

.text1234 span {
  color: #c7b299;
  font-family: "raleway_regular";
  font-size: 28px;
  margin-right: 5px;
}

.wordpress p {
  display: inline-block;
  color: #ffffff;
  font-family: "raleway_regular";
  font-size: 28px;
  padding-bottom: 10px;
}

#forget {
  font-family: "monserat_light";
  font-size: 18px;
  color: white;
  opacity: 0.8;
  display: block;
}

.text1234 {
  display: inline-block;
  margin-top: 45px;
}

.wordpress a {
  font-family: "raleway_extrabold";
  font-size: 14px;
  background-color: #998675;
  width: 170px;
  height: 47px;
  text-transform: uppercase;
  text-align: center;
  border-radius: 5px;
  border-bottom: 3px solid #736357;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: -1px;
  margin-top: -61px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.wordpress a:hover {
  color: #726658;
}

.gallery {
  width: 100%;
  height: 1086px;
}

.info1 h2 {
  font-family: "raleway_semibold";
  font-size: 30px;
  color: #555555;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 15px;
}

.info1 p {
  font-family: "monserat_light";
  font-size: 16px;
  color: #555555;
  opacity: 0.9;
  margin: 0 auto;
  line-height: 27px;
  text-align: center;
}

.info1 {
  width: 730px;
  margin: 0 auto;
  margin-top: 75px;
}

.menu-list {
  margin: 0 auto;
  width: 605px;
  padding-top: 38px;
  font-family: "monserat_light";
  font-size: 14px;
}

.menu-list li {
  padding: 5px;
  display: inline-block;
  width: 108px;
  border: 1px solid;
  border-radius: 3px;
  height: 20px;
  text-align: center;
  margin-right: 7px;
  color: black;
  cursor: pointer;
}

.menu-list li:first-child {
  width: 60px;
}

.menu-list a {
  text-decoration: none;
  color: black;
}

.menu-list li:hover {
  background-color: #998675;
  color: white;
}

.menu-list a:hover {
  color: white;
}

.our-project-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  margin-bottom: 10px;
  margin-top: 42px;
}

.our-project-item {
  width: 31.5%;
  margin-bottom: 30px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.item-image {
  line-height: 0;
  height: auto;
  position: relative;
  overflow: hidden;
}

.item-image:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: none;
}

.our-project-item:hover .item-image:before {
  display: block;
}

.item-text {
  background: #fbfaf8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 24px 27px;
  position: relative;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.triangle {
  width: 0;
  height: 0;
  border-bottom: 18px solid #fbfaf8;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  position: absolute;
  top: -18px;
  z-index: 2;
  left: 20px;
}

.our-project-item:hover .triangle {
  border-bottom: 18px solid #362f2d;
}

.our-project-item:hover .item-text {
  background: #362f2d;
}

.item-text h4 {
  font-size: 20px;
  color: #c7b299;
  margin-bottom: 10px;
}

.our-project-item:hover .item-text h4 {
  color: #fff;
}

.our-project-item:hover .item-text p {
  color: #c7b299;
}

.item-text p {
  font-size: 14px;
  color: #d1d1d1;
}

.our-project-btn {
  text-align: center;
}

.our-project-btn a {
  font-family: "raleway_extrabold";
  font-size: 14px;
  background-color: #998675;
  max-width: 170px;
  height: 50px;
  text-transform: uppercase;
  text-align: center;
  border-radius: 5px;
  border-bottom: 3px solid #736357;
  margin: 0 auto;
  margin-top: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #fff;
}

.our-project-btn a:hover {
  color: #726658;
}

/*icon hover*/
.link a {
  background: url("../media/gallery/link.png");
  width: 25px;
  height: 25px;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 43%;
  -webkit-transform: translate(-43%, -50%);
          transform: translate(-43%, -50%);
}

.lupa a {
  background: url("../media/gallery/magnifier.png");
  fill: red;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 50%;
  left: 57%;
  -webkit-transform: translate(-57%, -50%);
          transform: translate(-57%, -50%);
  z-index: 2;
}

.link a,
.lupa a {
  display: none;
}

.link a:hover {
  background: url("../media/gallery/hover-link.png");
}

.lupa a:hover {
  background: url("../media/gallery/hover-lupa.png");
}

.our-project-item:hover .link a {
  display: block;
}

.our-project-item:hover .lupa a {
  display: block;
}

.video {
  display: block;
  width: 100%;
  height: 705px;
  overflow: hidden;
}

video p {
  font-size: 30px;
}

.presentation__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.presentation__name {
  color: #ffffff;
  margin-top: 40px;
  font-size: 30px;
  font-family: "raleway_medium";
}

.presentation__text {
  color: #ffffff;
  width: 552px;
  margin-top: 20px;
  font-family: "monserat_light";
  font-size: 16px;
  line-height: 25px;
}

.presentation__time {
  color: #c7b299;
  margin-top: 40px;
  font-size: 14px;
}

.video-container {
  margin: 0 auto;
  max-width: 1920px;
  height: 705px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.video-container__video {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

.video-icon:hover {
  opacity: 0.5;
}

.mobile {
  padding-top: 81px;
}

.mobile-bg img {
  vertical-align: bottom;
  margin-right: 31px;
}

.mobile-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.mobile-content {
  width: 56.3%;
  padding-top: 110px;
}

.mobile-content h3 {
  font-size: 30px;
  font-weight: 600;
  color: #555555;
  margin-bottom: 26px;
  font-family: "raleway_semibold";
}

.mobile-content p {
  font-size: 16px;
  color: #8c8c8c;
  line-height: 28px;
  font-family: "monserat_light";
}

.checkbox {
  margin: 38px 0 0 97px;
}

.checkbox-item {
  position: relative;
}

.checkbox-item:not(:last-child) {
  margin-bottom: 14px;
}

.checkbox .subcontent {
  margin-left: 50px;
}

.hide,
.hide + label ~ .subcontent {
  display: none;
}

.hide + label:before {
  content: url("../media/mobile-container/mobile-list-arrow.png");
  position: absolute;
  top: -2px;
  left: -49px;
}

.hide:checked + label:before {
  content: url("../media/mobile-container/mobile-list-arrow-down.png");
}

.hide + label,
.hide:checked + label {
  font-size: 16px;
  color: #8c8c8c;
  display: inline-block;
  -webkit-transition: 150ms ease-in-out;
  transition: 150ms ease-in-out;
  cursor: pointer;
}

.hide:checked + label + .subcontent {
  display: block;
}

.statistics {
  background: -webkit-gradient(linear, left top, right top, from(#211b19), color-stop(50%, #3a2921), to(#4e3427));
  background: linear-gradient(to right, #211b19 0%, #3a2921 50%, #4e3427 100%);
  padding: 70px 0 60px;
  height: 168px;
}

.statistics-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  text-align: center;
}

.statistic-item {
  padding-bottom: 25px;
  position: relative;
}

.statistic-item:after {
  content: "";
  border-bottom: 2px solid #fff;
  width: 30px;
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  display: block;
}

.statistics-sprite {
  background: url("../media/statistics-sprite.png") no-repeat;
  width: 60px;
  height: 55px;
  display: inline-block;
  margin: 0 auto;
}

.clients {
  background-position: 10px 0;
}

.coffee {
  background-position: -190px 0;
}

.posts {
  background-position: -390px 0;
}

.likes {
  background-position: -590px 0;
}

.launched {
  background-position: -790px 0;
}

.number {
  color: #fff;
  font-size: 48px;
  font-weight: normal;
  margin-bottom: 10px;
  opacity: 0;
}

/*JS-statistics*/
.viz {
  opacity: 1;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.statistics-text p {
  color: #c7b299;
  font-size: 14px;
}

.statistics-text h5 {
  font-family: "monserat_light";
  font-weight: 300;
}

.recent-post {
  padding: 77px 0 140px;
}

.recent-post p {
  font-family: "monserat_light";
}

.recent-post h2 {
  font-family: "raleway_semibold";
}

.title-p {
  font-size: 16px;
  line-height: 28px;
  margin: 0 auto;
  color: #8c8c8c;
  padding: 0 220px;
  line-height: 28px;
}

.title-h {
  font-size: 30px;
  color: #555555;
  margin-bottom: 16px;
}

.recent-post-titles {
  text-align: center;
}

.recent-post-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  margin-top: 34px;
}

.recent-post-item {
  width: 31.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #f8f8f8;
  position: relative;
}

.post-image {
  position: relative;
}

.post-image img {
  vertical-align: bottom;
  width: 100%;
}

.post-image:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: none;
}

.post-text {
  padding: 30px 28px;
}

.post-text h3 {
  font-weight: 500;
  color: #555;
  font-size: 20px;
  margin-bottom: 15px;
}

.post-text p {
  font-size: 14px;
  color: #8c8c8c;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 20px;
}

.post-text a {
  font-size: 14px;
  color: #c7b299;
  font-family: 'monserat_light';
}

.post-text a:after {
  content: url("../media/arrow-gold.png");
  width: 5px;
  height: 8px;
  display: inline-block;
  padding-left: 10px;
}

.recent-post-item:hover .post-image:before {
  display: block;
}

.recent-post-item:hover .post-text {
  background: #362f2d;
}

.recent-post-item:hover .post-text h3 {
  color: #c7b299;
}

.recent-post-item:hover .post-text p {
  color: #fff;
}

.block-data {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 999;
}

.block-data span {
  display: block;
  color: #fff;
  font-family: 'monserat_light';
}

.block-data .day {
  font-size: 24px;
  padding: 12px 9px;
  background: #363636;
  border-radius: 3px 3px 0 0;
}

.block-data .mounth {
  font-size: 12px;
  padding: 6px 10px;
  background: #252525;
  border-radius: 0 0 3px 3px;
}

.recent-post-item:hover .day {
  background: #c7b299;
}

.recent-post-item:hover .mounth {
  background: #a48d72;
}

/*Slider recent post*/
/*Slider arrow*/
.post-splide {
  outline: none;
}

.resent-post-slider .slick-prev,
.slick-next {
  width: 22px;
  height: 22px;
}

.resent-post-slider .slick-prev {
  left: 48.5%;
  top: 111%;
}

.resent-post-slider .slick-prev:before {
  content: url("../media/slider-left.png");
}

.resent-post-slider .slick-prev:hover:before {
  content: url("../media/slider-left-hover.png");
}

.resent-post-slider .slick-next {
  right: 47%;
  top: 111%;
}

.resent-post-slider .slick-next:before {
  content: url("../media/slider-right.png");
}

.resent-post-slider .slick-next:hover:before {
  content: url("../media/slider-right-hover.png");
}

/*Slider-post-image*/
.slider-post-image .slick-dotted.slick-slider {
  margin-bottom: 0;
}

.slider-post-image .slick-dots {
  bottom: 19px;
  left: 9px;
}

.slider-post-image .slick-dots li {
  width: 12px;
  height: 12px;
  margin: 0 4.8px;
}

.partners {
  background: url("../media/partners/partners-bg.jpg") no-repeat;
  background-position: 0 -700px;
  padding: 140px 0;
  position: relative;
  z-index: -2;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background: rgba(30, 30, 30, 0.7);
  height: 100%;
  width: 100%;
  z-index: -1;
}

.partners-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
}

.block-info {
  background: #191919;
  padding: 5% 5% 5% 5%;
}

.block-info h1 {
  font-family: "raleway_regular";
  font-size: 34px;
}

.block-info h3 {
  font-family: "raleway_bold";
  font-size: 24px;
}

.block-info p {
  font-family: "monserat_light";
  font-size: 14px;
}

.info-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
}

.info-item {
  width: 23%;
}

.info-item:first-child .header-logo {
  float: none;
}

.info-item:nth-child(n+2) {
  margin-top: 20px;
}

.info-item:nth-child(n+2) .info-text {
  border-bottom: 1px solid #252525;
}

.info-item:nth-child(n+2) .info-text:last-child {
  border-bottom: none;
}

.header-logo .main-logo {
  background: url("../media/logo-header.png");
  width: 64px;
  height: 56px;
  display: inline-block;
  vertical-align: middle;
}

.header-logo a h1 {
  vertical-align: middle;
  color: #fff;
  font-size: 34px;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.info-item h3 {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}

.info-text p {
  padding: 20px 0;
  color: #555555;
  font-size: 14px;
  line-height: 20px;
}

.info-text p span {
  display: block;
  font-size: 12px;
  color: #363636;
}

.info-text:hover p {
  color: #c7b299;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
}

.info-text:hover span {
  color: #fff;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
}

/*Styles for links in column "Our Twitter"*/
.info-link {
  color: #00bff3;
}

.info-image {
  margin-top: 25px;
}

.info-image img {
  width: 130px;
  height: 98px;
}

.info-image img:nth-child(2n) {
  margin-left: 3px;
}

.info-image img:nth-child(1),
.info-image img:nth-child(2) {
  margin-bottom: 3px;
}

.read-more {
  font-size: 14px;
  color: #d1d1d1;
  font-weight: 400;
  font-family: "monserat_light";
}

.read-more:after {
  content: url("../media/arrow.png");
  width: 5px;
  height: 8px;
  display: inline-block;
  padding-left: 10px;
}

.twitter-last-link {
  color: #959595;
}

.info-item:nth-child(2) .info-text span {
  margin-bottom: 5px;
}

footer {
  padding: 45px 0;
  background: #111;
  font-size: 13px;
  font-family: 'monserat_light';
  padding-left: 5%;
  padding-right: 5%;
}

footer a {
  color: #555;
}

.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.creators p,
.footer-menu p,
.footer-menu li,
.footer-menu,
.creators {
  display: inline-block;
  color: #555;
}

.footer-link {
  color: #959595;
}

.footer-menu {
  padding: 0;
  margin: 0;
}

.footer-menu li:not(:first-child) {
  border-left: 1px solid #252525;
}

.footer-menu li {
  padding: 0 10px;
}

.footer-menu li:first-child {
  padding-left: 0;
}

.footer-menu li a:hover {
  color: #c7b299;
}

.creators p:first-child {
  border-right: 1px solid #252525;
  padding-right: 10px;
}

.creators p:last-child {
  padding-left: 5px;
}
/*# sourceMappingURL=main.css.map */